<footer class="flex justify-center bg-slate-100 border-t border-slate-200">
    <div class="flex max-w-screen-xl flex-1 flex-col">
        <footer class="flex flex-col gap-8 px-5 py-12 text-center @container">
            <div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-4 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">About Us</a>
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">Contact Us</a>
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">FAQ</a>
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">Shipping &amp; Returns</a>
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">Privacy Policy</a>
                <a class="text-slate-600 hover:text-[#141414] text-sm font-normal leading-normal min-w-32 transition-colors"
                   href="#">Terms of Service</a>
            </div>
            <p class="text-slate-500 text-sm font-normal leading-normal">© 2024 Backpack Co. All rights reserved.</p>
        </footer>
    </div>
</footer>
